body {
    font-family: 'Nunito', sans-serif;
}

.body_container {
    margin: 15px;
}

/* SIDEBAR ADMIN */
.sidebar_head {
    width: 235px;
    display: flex;
    justify-content: center;
}

.sidebar_dashboard {
    box-shadow: 2px 2px 2px grey;
}

.navbar_dashboard {
    box-shadow: 2px 2px 2px grey;
}

.item_menu_dashboard {
    color: white;
    border: 1px solid #6E6E6E;
    font-size: 1.1em;
}

.item_menu_dashboard i {
    margin: 0 10px;
}

.item_menu_dashboard:hover {
    color: #CCCCCC;
}

#wrapper {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
 }

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
/* END SIDEBAR ADMIN */

/* DASHBOARD */
.back_arrow {
    color: #616161;
    position: relative;
    transition: all 200ms;
    left: -15px;
}

.back_arrow:hover {
    color: black;
    transform: scale(1.2);
}

.dashboard_data_container {
    margin: 50px;
}

.circle_dashboard {
    width: 100px;
    height: 100px;
    margin: 20px 30px;
    background-color: #00AB11;
    color: white;
    border: 3px solid #00AB11;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
}

.data_dashboard {
    font-size: 1.4em;
}
/* END DASHBOARD */

/* CATEGORIES */
.category {
    margin: 0 5px;
}

.categories_container {
    margin: 30px 0;
}

.link_img_category {
    text-align: center;
    margin-top: 25px;
    transition: all 200ms;
}

.link_img_category:hover {
    transform: scale(1.2);
}

.img_new_category {
    max-width: 69%;
    border-radius: 60%;
}

.img_category {
    max-width: 87%;
    border-radius: 50%;
}

.card_category_container {
    width: 105px;
}

.title_category {
    text-align: center;
    margin-top: 10px;
    font-size: 1.4em;
}

.category_icon {
    margin: 5px;
    transition: all 200ms;
}

.category_icon:hover {
    transform: scale(1.2);
}

.category_icons {
    padding: 25px 5px 0 5px;
}

.info_icon {
    color: #B0B0B0;
}

.info_icon:hover {
    color: #006BFA;
}

.delete_icon {
    color: #B0B0B0;
}

.delete_icon:hover {
    color: #C92310;
}
/* END CATEGORIES */

/* ALERT */
.warning_title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.warning_title i {
    margin: 0 30px;
}

.alert_text {
    margin: 50px 50px;
    text-align: center;
    font-size: 1.3em;
}

.alert_button {
    color: white;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 17px;
    transition: all 200ms;
}

.alert_button:hover {
    text-decoration: none;
    color: white;
    border-radius: 3px;
    transform: scale(1.1);
}

.delete_button {
    background-color: red;
}

.cancel_button {
    background-color: #B0B0B0;
}

.alert_empty {
    margin: 25px 0;
}
/* END ALERT */

/* DETAILS CATEGORY */
.title_details_category h1 {
    margin-right: 35px;
}

.title_details_category img{
    max-width: 5%;
    border-radius: 50%;
    margin-right: 20px;
}

.icons_title {
    margin: 0 10px;
    color: #616161;
    transition: all 200ms;
}

.icons_title:hover {
    color: black;
    transform: scale(1.2);
}

.link_pencil {
    color: black;
}

.link_pencil:hover {
    color: black;
}

.category_container {
    margin: 20px 0;
}

.quiz_by_category {
    border: 2px solid grey;
    margin: 25px 0;
    padding: 15px;
}

.quiz_by_category h2 {
    font-size: 1.4em;
}

.quiz_icon {
    color: black;
}

.quiz_icon:hover {
    color: black;
}
/* END DETAILS CATEGORY */

/* DETAILS QUIZ */
.title_details_quiz h1 {
    margin: 10px 35px 20px 10px;
}

.question_card {
    margin: 20px;
    padding: 10px;
    position: relative;
    transition: all 200ms;
}

.question_card:hover {
    transform: scale(1.1);
}

.new_question_link {
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
}

.new_question_link i {
    color: #8A8A8A;
    margin: 15px;
}

.new_question_link p {
    color: black;
}

.new_question_link:hover {
    text-decoration: none;
}

.question {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 45px;
}

.quiz_icons {
    position: absolute;
    bottom: 10px;
    width: 85%;
}
/* END DETAILS QUIZ */

/* DETAILS QUESTION */
.data_question {
    text-align: center;
    margin: 60px 0;
    font-size: 1.4em;
}

.answers {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}

.answer_icon {
    margin: 5px;
    transition: all 200ms;
}

.answer_icon:hover {
    transform: scale(1.1);
}

.new_answer {
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    margin: 0 40px;
    transition: all 200ms;
}

.new_answer:hover {
    transform: scale(1.1);
}

.new_answer i {
    margin-right: 10px;
}

.link_new_answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.link_new_answer:hover {
    text-decoration: none;
    color: white;
}

.answer_container {
    display: none; 
    position: relative;
}

.close_answer {
    position: absolute;
    right: 0;
}

.close_answer i {
    color: black;
}
/* END DETAILS QUESTION */

/* QUIZ */
.quiz_container  {
    margin: 40px 0;
}

.quiz_card {
    margin: 0 16px 40px 16px;
    transition: all 200ms;
}

.quiz_card:hover {
    transform: scale(1.1);
}

.name_quiz {
    display: flex;
    text-align: center;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.name_new_quiz {
    display: flex;
    text-align: center;
    height: 119px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.quiz_icon  {
    transition: all 200ms;
}

.quiz_icon:hover {
    transform: scale(1.2);
}

.pagination {
    width: 100%;
}

.quiz_category_card {
    color: grey;
    padding: 3px;
}
/* END QUIZ */

/* USERS */
.user_container {
    margin-top: 20px;
}

.link_icon_user {
    color: #8A8A8A;
    transition: all 200ms;
}

.link_icon_user:hover {
    color: #595959;
    transform: scale(1.1);
}

.user_card {
    margin: 15px 30px;
}

.name_user {
    font-size: 1.2em;
    margin: 10px 0 0 0;
}

.user_icon {
    transition: all 200ms;
}

.user_icon:hover {
    transform: scale(1.2);
}
/* END USERS */

/* DETAILS USER */
.title_details_user h1 {
    margin-right: 35px;
}

.data_user_container {
    margin: 40px 0;
}

.data_user {
    font-size: 1.2em;
    margin: 20px 0;
}
/* END DETAILS USER */

/* NEW CATEGORY */
.form_new_container {
    margin: 30px;
}

.valid_new_button {
    margin: 15px 0;
}

.button_change_image {
    margin: 15px 0;
}
/* END NEW CATEGORY */