body {
    font-family: 'Bellota', cursive;
    margin: 0;
}

/* HEADER */
#menu {
    display: flex;
    justify-content: center;
}

.logo_button {
    width: 100px;
}
/* END HEADER */

/* SLIDER HOME */
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* END SLIDER HOME */

/* CATEGORIES HOME */
.portfolio-item {
    margin-bottom: 30px;
}

.h2_home {
    text-align: center;
}

.category_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.category {
    text-align: center;
    margin: 0 10px;
}

.img_category img{
    border-radius: 50%;
    max-width: 80%;
    transition: all 400ms;
}

.img_category img:hover {
    transform: scale(1.1);
}

.title_category {
    font-size: 1.4em;
}
/* END CATEGORIES HOME */

/* QUIZ HOME */
.card-body {
    background-color: #E6E6E6;
    transition: all 200ms;
}

.card-body:hover {
    transform: scale(1.1);
    background-color: #57A2FF;
    border-radius: 8px;
}

.card-body:hover a {
    color: white;
}

.card-title {
    text-align: center;
}

.card-title a{
    color: black;
}

.card-title a:hover {
    text-decoration: none;
    color: white;
}

.div_button_all_quiz {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button_all_quiz {
    padding: 15px;
    color: white;
    font-size: 1.2em;
    background-color: #57A2FF;
    border: 3px solid #57A2FF;
    border-radius: 30px;
    transition: all 400ms;
}

.button_all_quiz:hover {
    color: #57A2FF;
    text-decoration: none;
    background-color: white;
    transform: scale(1.1);
}

/* END QUIZ HOME */

/* QUIZ BY CATEGORY */
.title-category {
    display: flex;
    align-items: center;
}

.title-category img {
    border-radius: 50%;
    width: 12%;
    margin: 20px;
}

.title-category h1 {
    margin: 0 30px;
}

.etiq_quiz {
    margin: 0 20px;
}
/* END QUIZ BY CATEGORY */

/* START QUIZ SECTION */
.title_start_quiz {
    text-align: center;
    margin: 30px;
}

p.title_start_quiz {
    font-size: 1.2em;
}

.start_quiz_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.start_quiz_container img {
    width: 50%;
}

.btn_start_quiz {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    margin: 0 100px;
    color: white;
    background-color: #B8B8B8;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    transition: all 400ms;
}

.btn_start_quiz:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.2);
}
/* END QUIZ SECTION */

/* QUESTIONS SECTION */
.question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    height: 350px;
    padding: 20px;
}

.question {
    font-size: 1.5em;
    margin: 30px 0;
}

.btn_valid {
    justify-self: flex-end;
}
/* END QUESTIONS SECTION */

/* LOGIN PAGE */
.login_form {
    width: 500px;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    transform: translateY(20%);
    border-radius: 5%;
}
/* END LOGIN PAGE */

/* FOOTER */
.footer_front {
    height: 150px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-around;
    background-color: #E6E6E6;
    position: relative;
}

.title_footer {
    font-size: 2.5em;
}

.title_contact {
    font-size: 1.6em;
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57A2FF;
    color: white;
    width: 190px;
    height: 50px;
    padding: 30px;
    border: 2px solid #57A2FF;
    border-radius: 20px;
    font-size: 1.3em;
    transition: all 400ms;
}

.login_button:hover {
    text-decoration: none;
    color: #57A2FF;
    background-color: white;
    border: 2px solid #57A2FF;
    border-radius: 0px;
}

.up {
    position: absolute;
    color: black;
    right: 20px;
    top: 20px;
}

.up:hover {
    color: black;
}
/* END FOOTER */