{% extends 'template_backend.twig' %}

{% block head %}
<title>Attention</title>
{% endblock %}

{% block content %}

<h1 class="warning_title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Attention<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>

{% for category in oneCategory %}
<p class="alert_text">Vous êtes sur le point de supprimer la catégorie {{ category.nameCategory }}. Attention, la suppression d'un élément est irréversible et peut entraîner la suppression d'autres éléments contenus par celui-ci ou en lien avec. Etes-vous sûr(e) de vouloir supprimer cette catégorie ?</p>
{% endfor %}

<div class="d-flex justify-content-around">
    <a href="" class="alert_button delete_button">Supprimer</a>
    <a href="" class="alert_button cancel_button">Annuler</a>
</div>

{% endblock %}