{% extends 'template_backend.twig' %}

{% block head %}
<title>Catégories - Administration</title>
{% endblock %}

{% block content %}

<h1>Catégories</h1>

<div class="col-lg-12 d-flex justify-content-between flex-wrap categories_container">
    <div class="d-flex justify-content-center flex-column category col-lg-3">
        <a href="/projet_5/new-category" class="img_category"><img src="public/images/img_categories/new.png" alt="Illustration nouvelle catégorie"></a>
        <p class="title_category">Nouvelle catégorie</p>
    </div>
    {% for category in allCategories %}
    <div class="d-flex justify-content-center flex-column category col-lg-3">
        <a href="/projet_5/details-category-{{ category.idCategory }}" class="img_category"><img src="public/images/img_categories/{{ category.imageCategory }}" alt="Illustration catégorie"></a>
        <p class="title_category">{{ category.nameCategory }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}