{% extends 'template_backend.twig' %}

{% block content %}

<h1>Dashboard</h1>
<h2 class="d-flex justify-content-center">Bonjour, Utilisateur !</h2>

<div class="dashboard_data_container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center circle_dashboard">10</div>
        <div class="data_dashboard">catégories disponibles</div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center circle_dashboard">100</div>
        <div class="data_dashboard">quiz disponibles</div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center circle_dashboard">1000</div>
        <div class="data_dashboard">questions disponibles</div>
    </div>
</div>

{% endblock %}