<div class="container col-lg-11">
    <div class="row">
        <div>
            <h1>Connectez-vous</h1>
            <form>
                <label>Identifiant</label><input type="text">
                <label>Mot de passe</label><input type="text">
                <button type="submit">Connexion</button>
            </form>
        </div>
    </div>
</div>