<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}
    <title>Connectez-vous</title>
    {% endblock %}

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="public/css/style_frontend.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap" rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/a7057ee266.js"></script>

</head>

<body>

    <form class="login_form">
        <h1>Connectez-vous</h1>
        <label>Identifiant</label><input type="text" required>
        <label>Mot de passe</label><input type="text" required>
        <button type="submit">Connexion</button>
    </form>

</body>

</html>
