<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head %}
        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="public/css/style_backend.css" rel="stylesheet">

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/a7057ee266.js"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-dark sidebar_dashboard" id="sidebar-wrapper">
                <div class="sidebar-heading sidebar_head"><img src="public/images/logo_dark.png" style="max-width: 45%;"></div>
                    <div class="list-group list-group-flush">
                        <a href="/projet_5/dashboard" class="list-group-item list-group-item-action bg-dark item_menu_dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                        <a href="/projet_5/categories" class="list-group-item list-group-item-action bg-dark item_menu_dashboard"><i class="fa fa-list-ul" aria-hidden="true"></i> Catégories</a>
                        <a href="/projet_5/quiz" class="list-group-item list-group-item-action bg-dark item_menu_dashboard"><i class="fa fa-question-circle" aria-hidden="true"></i> Quiz</a>
                        <a href="/projet_5/users" class="list-group-item list-group-item-action bg-dark item_menu_dashboard"><i class="fa fa-user" aria-hidden="true"></i> Utilisateurs</a>
                    </div>
                </div>

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar_dashboard">
                        <button class="btn btn-outline-light" id="menu-toggle"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Mon profil</a>
                                        <a class="dropdown-item" href="#">Modifier mon profil</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Déconnexion</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class=" col-lg-11 container-fluid body_container">
                        
                        {% block content %}
                        {% endblock %}
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>
</html>
