<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}
    {% endblock %}

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="public/css/style_frontend.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap" rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/a7057ee266.js"></script>

</head>

<body>
    <header id='menu'>
        <a href='' class='logo_button'><img src='public/images/logo.png' style='max-width:100%;'></a>
    </header>

    {% block content %}
    {% endblock %}

    <footer class='footer_front'>
        <p class='title_footer'>Questionnary!</p>
        <div class='contact_footer'>
            <p class='title_contact'>Contact</p>
            <p>laurienicolas8@gmail.com</p>
        </div>
        <a href='' class='login_button'>Se connecter</a>
        <a href=''><i class="fas fa-arrow-circle-up fa-2x up"></i></a>
    </footer>
    <!-- Bootstrap - JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>